In [1]:
import pandas as pd 
import numpy as np
import statistics as st

In [3]:
deng = pd.read_csv(r"C:\Users\sveam\Documents\MOBI 23\Bioinfo\BLAT_ECOLX_Deng_2012 Kopie.csv", delimiter = ';')
firnberg =pd.read_csv(r"C:\Users\sveam\Documents\MOBI 23\Bioinfo\BLAT_ECOLX_Firnberg_2014 Kopie.csv",delimiter = ';')
stiffler= pd.read_csv(r"C:\Users\sveam\Documents\MOBI 23\Bioinfo\BLAT_ECOLX_Stiffler_2015.csv",delimiter = ';')

In [4]:
deng.head()

,mutant,mutated_sequence,DMS_score,DMS_score_bin
0,H24C,MSIQHFRVALIPFFAAFCLPVFACPETLVKVKDAEDQLGARVGYIE...,-3.924.478,0
1,H24Y,MSIQHFRVALIPFFAAFCLPVFAYPETLVKVKDAEDQLGARVGYIE...,-2.170.022,1
2,H24W,MSIQHFRVALIPFFAAFCLPVFAWPETLVKVKDAEDQLGARVGYIE...,-4.345.218,0
3,H24V,MSIQHFRVALIPFFAAFCLPVFAVPETLVKVKDAEDQLGARVGYIE...,-3.011.503,0
4,H24T,MSIQHFRVALIPFFAAFCLPVFATPETLVKVKDAEDQLGARVGYIE...,-1.565.248,1

In [12]:
deng_frame = pd.DataFrame(data=deng)
Sortierung = deng_frame.iloc[0:len(deng_frame),0]
Sortierung.head()

0    H24C
1    H24Y
2    H24W
3    H24V
4    H24T
Name: mutant, dtype: object

In [6]:
frame = pd.DataFrame( data = (deng, firnberg, stiffler))
frame.head()

c:\Users\sveam\anaconda3.2\lib\site-packages\pandas\core\internals\construction.py:568: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                                   0
0       mutant                                   ...
1       mutant                                   ...
2       mutant                                   ...

In [ ]:
class DataRaw:
    def __init__(self, name):
        self.name = name
        datalib = {}
    def sorting(self):
        for i in self:
           datalib[self.name] = pd.DataFrame(data=self)